<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes Search</title>
    <link rel="stylesheet" href="/statics/styles.css">
    <link rel="icon" href="/statics/images/favicon.png" type="image/png">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="/statics/images/logo.webp" alt="Quotes Search Logo" class="logo">
        </div>
        <h1>Quotes Search</h1>
    </header>
    <div class="container">
        <!-- Блок для отображения ошибок -->
        <div id="error-container" class="error-container" style="display: none;">
            <h2 id="error-title">Error</h2>
            <p id="error-message">An error occurred. Please try again later.</p>
            <p>Return to the <a href="/">homepage</a>.</p>
        </div>

        <!-- Поисковая строка -->
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Enter name or tag...">
            <button id="searchButton">Search</button>
        </div>

        <!-- Блок для результатов -->
        <div id="results"></div>
    </div>
    <script src="/statics/script.js"></script>
</body>
</html>